@import url(http://fonts.googleapis.com/css?family=Enriqueta);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic);

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Enriqueta, serif;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

h2 {
	color: #556270;
}

h3 {
	font-weight: normal;
}



.soft {
	color: grey;
	font-size: 0.85em;
}

body > header {
	height: 3em;
	background: #556270;
	padding-left: 3em;
	padding-right: 3em;
	border-bottom: 3px solid pink;
}

body > header h1 a {
	float: left;
	font-family: "Lobster Two";
	font-size: 1em;
	font-weight: normal;
	color: white;
}

body > header h1 a:hover {
	text-decoration: none;
}

body > header nav {
	float: right;
	margin-top: 0.6em;
	font-size: 1.1em;
	color: pink;
}

body > header nav a {
	font-family: "Lobster Two";
	color: white;
}

body > header nav a:nth-child(4) {
	color: pink;
}

#content {
	padding: 1em;
	padding-left: 3em;
	padding-right: 3em;
	padding: 1em 3em 0 3em;
}

article {
	overflow: auto;
	max-width: 1000px;
}

article footer {
	margin-top: 2em;
}

article footer {
	font-size: 0.8em;
}

article > footer a.next, article > footer a.previous {
	padding: 0.3em;
	color: white;
	background: #556270;
}

article > footer .next{
	float: left;
}

article > footer .previous{
	float: right;
}

article > div {
	margin-top: 2em;
}

article h3 {
	margin-top: 2em;
	margin-bottom: 1em;
	font-weight: bold;
	color: #556270;
}

article > div > p {
	margin-bottom: 1em;
	line-height: 1.8em;
	text-indent: 1.4em;
	text-align: justify;
}

article ol {
	margin-left: 3em;
}

article a {
	border-bottom: 3px solid pink;
}

article a:hover {
	text-decoration: none;
}

article em {
	font-family: serif;
	font-style: italic;
}

article pre {
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid lightgrey;
}

#articles, #projects {
	margin-top: 1em;
	margin-bottom: 2em;
}

#articles tr td {
	padding-right: 1em;
}
