.try {
    width: 725px;
    height: 450px;
    padding: 50px;
    line-height: 450px;
    margin: 2em auto;
    border: 6px solid #3F4C59;
}

.try.notClicked {
    background: #556270;
}

.try p {
    text-align: center;
    font-size: 40px;
    font-family: Enriqueta;
    color: white;
}

.try canvas {
    border: 1px solid grey;
    vertical-align: middle;
}

.try canvas:nth-child(1) {
    margin-right: 50px;
}

img {
	border: 1px solid lightgray;
}

img + img {
	margin-left: 4em;
}
