---
layout: default
title: Blog
---

<article>

  {% assign page = site.posts.first %}

  <header>
    <h2>{{ page.title }}</h2>
    <span class="soft">{{ page.date | date_to_string }}</span>
  </header>

  <div>
    {{ page.content }}
  </div>

  <footer>

    {% if page.next.title != null %}
    <a href="{{ page.next.url }}" class="next">↩ {{ page.next.title }}</a>
    {% endif %}

    {% if page.previous.title != null %}
    <a href="{{ page.previous.url }}" class="previous">{{ page.previous.title }} ↪</a>
    {% endif %}

  </footer>

</article>
