<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Merwan Achibet" />
    <title>{{ page.title }} — Merwan Achibet</title>
    <link rel="stylesheet" href="/css/screen.css" />

    {% for item in page.css %}
    <link rel="stylesheet" href="/css/{{ item }}.css"/>
    {% endfor %}

    <script type="text/javascript" src="/utils/jquery.js"></script>
    <script type="text/javascript" src="/utils/konami.js"></script>
    {% for item in page.js %}
    <script type="text/javascript" src="/utils/{{ item }}.js"></script>
    {% endfor %}

  </head>
  <body>

    <header>
      <h1><a href="/">Merwan Achibet</a></h1>
      <nav>
        <a href="/archives.html">archives</a> /
        <a href="http://github.com/merwaaan">github</a> /
        <a href="https://github.com/merwaaan/cv/blob/master/cv.pdf?raw=true">CV</a>
        <a href="http://en.wikipedia.org/wiki/Konami_Code">.</a>
      </nav>
    </header>

    <div id="content">
      {{ content }}
    </div>

  </body>
</html>
